.grass-blade {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 0.5rem;

  &__segment {
    width: 3rem;
    height: 5rem;
    background-color: green;
    border-top: 2px solid black;
  }
}
